/* Ocultar elementos */
.hidden {
  display: none;
}

/* Contenedor del reproductor */
#player-container {
  text-align: center;
  padding: 20px;
  background-color: #1c1c1c;
  color: white;
  margin: 20px auto;
  border-radius: 10px;
  width: 700px;
}

/* Botón para cerrar el reproductor */
#close-player-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}
