/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #1c1c1c;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  color: white;
  text-align: center;
}

.close-btn {
  color: white;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

#manual-search-results img {
  width: 150px;
  height: 225px;
  object-fit: cover;
  margin: 5px;
  cursor: pointer;
}

/* Botón de reproducción */
.play-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}
